@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Tsukimi+Rounded&display=swap');

/* General styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 300%;
}

/* Player mode (Player 1, Player 2 buttons) styles */
/* Hide radio button circle */
input[type='radio'] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: lightblue;
}

label, #restart {
    margin: 0 3px;
    padding: 2px;
    border: solid;
    font-size: 110%;
}

label:hover {
    cursor: pointer;
}

#restart:hover {
    cursor: pointer;
    background-color: lightblue;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.controls-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.grid-area {
    display: flex;
    flex-direction: column;
}

#row-1, #row-2, #row-3 {
    display: flex;
    flex-direction: row;
}

#row-1 div, #row-2 div, #row-3 div {
    display: flex;
    /* Centre Xs and Os vertically and horizontally*/
    align-items: center;
    justify-content: center;
    font-size: 450%;
    background-color: lightblue;
    height: 100px;
    width: 100px;
    margin: 5px;
}