@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Tsukimi+Rounded&display=swap');

/* General styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 195%;
}

p {
    font-size: 70%;
}

/* Player mode (Player 1, Player 2 buttons) styles */
/* Hide radio button circle */
input[type='radio'] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: lightblue;
}

label, #restart {
    margin: 0 3px;
    padding: 2px;
    border: solid;
    font-size: 95%;
}

label:hover {
    cursor: pointer;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.controls-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 264px;
}

.info-area {
    width: 264px;
    text-align: center;
}

.grid-area {
    display: flex;
    flex-direction: column;
}

#restart:hover {
    cursor: pointer;
    background-color: lightblue;
}

#row-1, #row-2, #row-3 {
    display: flex;
    flex-direction: row;
}

#row-1 div, #row-2 div, #row-3 div {
    display: flex;
    /* Centre Xs and Os vertically and horizontally*/
    align-items: center;
    justify-content: center;
    font-size: 330%;
    background-color: lightblue;
    height: 75px;
    width: 75px;
    margin: 5px;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 300%;
    }
    
    p {
        font-size: 90%;
    }
    
    label, #restart {
        font-size: 110%;
    }
    
    .controls-area {
        width: 330px;
    }

    .info-area {
        width: 330px;
        text-align: center;
    }
    
    #row-1 div, #row-2 div, #row-3 div {
        font-size: 450%;
        height: 100px;
        width: 100px;
    }
}